{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>
                {% if parents %}
                    {% for parent in parents %}
                        {% if loop.first %}
                        {% set lev1 = parent.name ~ " " ~ parent.cid %}
                            <a href="{{ path('children_cat',{"lev1":lev1|slugify}) }}">{{ parent.name }}</a>
                            <i class="fas fa-arrow-right"></i>
                         {% else %}
                             {% set lev2 = parent.name ~ " " ~ parent.cid %}
                             <a href="{{ path('children_cat',{"lev1":lev1|slugify,"lev2":lev2|slugify}) }}">{{ parent.name }}</a>
                             <i class="fas fa-arrow-right"></i>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {{ current.name }}
            </h1>
            <ul class="list-group">
                {% for item in children %}
                    {% if parents %}
                        {% set lev1 = parents.0.name ~ " " ~ parents.0.cid %}
                        {% set lev2 = current.name ~ " " ~ current.cid %}
                        {% set lev3 = item.name ~ " " ~ item.cid %}
                        <li class="list-group-item"><i class="fa fa-folder-open" aria-hidden="true"></i>
                            <a href="{{ path('children_cat',{
                                "lev1":lev1|slugify,
                                "lev2":lev2|slugify,
                                "lev3":lev3|slugify,
                            }) }}">{{ item.name }}</a>
                        </li>
                    {% else %}
                        <li class="list-group-item"><i class="fa fa-folder-open" aria-hidden="true"></i>
                            {% set lev1 = current.name ~ " " ~ current.cid %}
                            {% set lev2 = item.name ~ " " ~ item.cid %}
                            <a href="{{ path('children_cat',{
                                "lev1":lev1|slugify,
                                "lev2":lev2|slugify,
                            }) }}">{{ item.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        {% for row in links|batch(2) %}
            <div class="row">
                {% for column in row %}
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><i class="fas fa-external-link-alt"></i>
                                    <a href="{{ column.url }}" target="_blank">{{ column.title|raw }}</a></h4>
                                <p class="card-text">{{ column.description|raw }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}